{
  "env": {
    "development": {
      "plugins": [["flow-runtime", { "assert": true, "annotate": true, "warn": true }]]
    }
  },
  "presets": [["@babel/preset-env", { "targets": { "node": "current" } }]],
  "plugins": [
    "macros",
    "@babel/plugin-syntax-dynamic-import",
    "dynamic-import-node-babel-7",
    "@babel/plugin-proposal-do-expressions",
    "@babel/plugin-proposal-optional-chaining",
    "@babel/plugin-syntax-flow",
    "@babel/plugin-transform-flow-strip-types",
    "transform-decorators-legacy"
  ]
}
