{
  "env": {
    "development": {
      "plugins": [["flow-runtime", { "assert": true, "annotate": true, "warn": true }]]
    }
  },
  "presets": [["@babel/preset-env", { "targets": { "node": "current" } }], "@babel/preset-flow"],
  "plugins": [
    "macros",
    "lodash",
    "@babel/plugin-syntax-dynamic-import",
    "dynamic-import-node-babel-7",
    "@babel/plugin-proposal-do-expressions",
    "@babel/plugin-proposal-optional-chaining",
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties", { "loose": true }],
    [
      "@babel/plugin-transform-runtime",
      {
        "helpers": true,
        "regenerator": false
      }
    ]
  ]
}
